<!DOCTYPE html>
<html>
<head>
  <title>SnapVersion1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Start of navigation Menu -->
  <div class="ui inverted menu">
    <a class="header item">SNAP</a>
    <div class="ui dropdown item"><%= link_to "Cameras", cameras_path %>
      <div class="menu">
        <a class="item">Local</a>
        <a class="item">Online</a>
      </div>
    </div>
   
    <div class="item">
      <div class="ui icon input">
        <input type="search" placeholder="search deals...">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
  <!-- End of Navigation Menu -->





<script>
  $(function() {
    $('.dropdown').dropdown({transition: 'drop'});
  });
</script>



<%= yield %>

</body>
</html>
